
@media (min-width: 1441px) {

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px)and (max-width: 1440px) {

}
  
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px) {



}
  
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) {

    .gw-form {
        width: 80%;
    }

    .gw-body-default {
        height: 100%;
    }

}
  
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .gw-body-default {
      height: 100%;
  }

}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 481px) and (max-width: 767px) {

    .gw-form {
        width: 96%;
    }

    .gw-body-default {
        height: 100%;
    }

}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {

    .gw-form {
        width: 100%;
    }

    .gw-btn-main {
        min-width: 98px;
        max-width: 100px;
    }

    .gw-text-h1 {
        font-size: 24px;
    }

    .gw-text-h2 {
      font-size: 21px;
  }

}

@media screen and (max-height: 450px) {

}